*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Myriad Pro, Roboto, Open Sans;
	font-size: 30px;
	min-width: 1560px;
	background-color: #121111;
	color: #fff;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container{
	width: 1560px;
	margin: auto;
	padding-right: 18px;
	padding-left: 18px;
	/*border: 1px dotted red;*/
}
h1{
	font-size: 30px;
	font-weight: normal;
	margin: 0;
}
h2{
	font-size: 60px;
	font-weight: normal;
	margin: 0;
}
h3{
	margin: 0;
	font-size: 30px;
}
a{
	color: #fff;
	text-decoration: none;
}
button{
	outline: none;
}
p{
	margin: 0;
	padding: 0;
}
/*---------------------header----------------------*/
header{
	padding-top: 106px;
	/*border: 1px dotted red;*/
}
.header-top-wraper{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.logo{
	margin-right: 210px;  
}
.logo span{
	font-size: 16px;
}
.dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 2px;
	background-color: #fecf5a;
	border-radius: 50%;
}

.main-nav{
	display: flex;
	flex-grow: 1;
	font-size: 24px;
}
.main-nav li{
	margin-right: 67px;
}

.cont{
	font-size: 24px;
	margin-right: 20px;
}
.cont li,
.tel li{
		height: 30px;
		line-height: 26px;
	}

.cont:before{
	display: block;
	content: "";
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url(../img/clock.png); 
}
.time{
	font-size: 16px;
	color: #8e8e89;
	padding-left: 36px;
}
.tel{
	/*width: 184px;*/
	flex-basis: 184px;
	font-size: 20px;
	margin-right: 27px;
}
.tel:before{
	display: block;
	content: "";
	float: left;
	width: 19px;
	height: 19px;
	margin-right: 10px;
	background-image: url(../img/phone-call.png)
}
.call-back{
	display: block;
	font-size: 16px;
	color: #fecf5a;
	padding-left: 36px;
}
.call-back:after{
	display: block;
	content: "";
	position: relative;
	margin-left: 10px;
	top: -5px;
	width: 103px;
	height: 1px;
	background-color: #fecf5a;

}
.basket{
	width: 41px;
	height: 34px;
	align-self: center;
	background-image: url(../img/basket.png);
	/*border: 1px dotted red;*/
}
.basket a{
	display: block;
	font-size: 22px;
	padding-top: 10px;
	text-align: center;
}


/*------------------------------------top slider-------------------------------------------*/

.topslider{
	
}
.topslider h2{
	font-size: 100px;
	font-weight: normal;
	margin-bottom: 45px;
}
.b1{
	position: relative;
	height: 932px;
	margin-top: 100px;
	
	background-repeat: no-repeat;
	background-position: 150% 0;
}
.b1:after{
	position: absolute;
	content: "";
	top: -50px;
	right: -200px;
	background-image: url(../img/burger.png);
	width: 1036px;
	height: 840px;
}


.order{
	position: absolute;
	top: 588px;
	width: 256px;
	height: 84px;
	border-radius: 42px;
	font-size: 30px;
	color: #fff;
	background-color: #c53b37; 
	font-family: Myriad Pro, Roboto, Open Sans;
	border: solid 2px #8e8e89;
	box-shadow: 0px 35px 52px -26px #c53b37;
	outline: none;
}
.order:hover{
	border: solid 2px #fff;
}
.list{
	position: absolute;
	right: 0;
	bottom: 123px;
}
.list button{
	position: relative;
	display: inline-block;
	width: 53px;
	height: 3px;
	background-color: #fff;
	border: none;
	transform: translateY(-13px);
}
.list button:after{
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	top: -7px;
	left: 0;
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	transform: rotate(-45deg);
}
.list button:last-child{
	background-color: #fecf5a;
}
.list button:last-child:after{
	left: 36px;
	transform: rotate(135deg);
	border-left: 3px solid #fecf5a;
	border-top: 3px solid #fecf5a;
}
.orange60{
	color: #fecf5a;
	font-size: 60px;
}


/*----------------------------------------------MENU---------------------------------------------------*/
.menu h2{
	margin-bottom: 80px;
}
.button-menu{
	margin-bottom: 86px;
}
.button-menu ul{
	display: flex;
}
.button-menu li{
	font-weight: bold;
	padding: 18px 46px;
	margin-right: 40px;
	color: #050505;
	background-color: #fff;
	border: 2px solid #8e8e89;
	border-radius: 50px;
}
.button-menu li:hover{
	border: 2px solid #fecf5a;
	box-shadow: 0px 15px 52px -26px #FECF5A;
}


.cards-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 80px;
}
.card{
	position: relative;
	overflow:hidden;
	/*flex-grow: 1;*/
	color: #050505;
	font-size: 20px;
	background: #fff;
	border: 2px solid #8e8e89;
	border-radius: 16px;
	padding: 29px 17px 42px; 
	box-shadow: 0px 12px 53px -20px #FECF5A;

	width: 360px;
	height: 540px;
}
.card:hover{
	border: 2px solid #fecf5a;
}
.price{
	position: absolute;
	right: 17px;
	font-weight: bold;
	font-size: 43.6px;
	text-shadow: #fecf5a 2px 2px 10px;
}
.mini-burger{
	display: block;
	padding-top: 56px;
	margin: 0 auto;
	margin-bottom:40px;
}
.card h3{
	font-weight: 700;
	margin-bottom: 30px;
}
.card p{ 
	margin-bottom: 20px;
}
.card-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.amount{
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
}
.amount button{
	border: none;
	padding: 0;
	margin: 0 6px;
	font-size: 24px;
	font-weight: 100;
	background-color: #fff;
}
.amount button:hover{
	text-shadow: 1px 1px 2px black,
	1px 1px 10px yellow;
}
.buy{
	position: relative;
	width: 182px;
	height: 40px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 20px;
	border: 2px solid #8e8e89;
	background-color: #fffefc;
}
.basket-button{
	position: absolute;
	top: 8px;
	right: 20px;
	width: 20px;
	height: 20px;
}
.buy:hover{
	box-shadow:  0px 5px 20px #FECF5A;
}